# Toy data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://ssciwr.github.io/jupyter-data-exploration/data.csv")

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
len(df)

20

In [5]:
df.head()

     Name  Age     Sex  Height Eye colour Wears glasses
0     Bob   12    Male   130.0       blue           yes
1   Simon   13    Male   120.0       blue            no
2   Clare   15  Female   142.5      green            no
3    Jose   11    Male   117.0      brown            no
4  Hannah    9  Female   111.0       blue           yes